# Apache configuration file (see httpd.apache.org/docs/current/mod/quickreference.html)

# !!! po dokončení odstranit !!!
# Omezení přístupu na IP
SetEnvIf Remote_Addr "^::1$" good_ip
SetEnvIf Remote_Addr "^127.0.0.1$" good_ip
SetEnvIf Remote_Addr "^77.48.26.75$" good_ip
SetEnvIf Remote_Addr "^90.182.85.197$" good_ip
SetEnvIf Remote_Addr "^94.142.235.171$" good_ip
Order deny,allow
Deny from all
Allow from env=good_ip
# !!! po dokončení odstranit !!!

# disable directory listing
<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>

# enable cool URL
<IfModule mod_rewrite.c>
	RewriteEngine On

	# RewriteBase /

	# prevents files starting with dot to be viewed by browser
	RewriteRule /\.|^\. - [F]

	# front controller
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule !\.(pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz|map)$ index.php [L]
</IfModule>

# enable gzip compression
<IfModule mod_deflate.c>
	<IfModule mod_filter.c>
		AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript text/javascript application/javascript application/json
	</IfModule>
</IfModule>
