<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Aktivace účtu</title>
</head>
<body>
    <p>Dobrý den,</p>

    <p>Právě byl vytvořen uživatelský účet pod Vaší e-mailovou adresou.</p>
    <p>Kliknutím na níže uvedený odkaz provedete aktivaci účtu:</p>
    <p><a href="{$url}"></a></p>
    
    <hr />
    <p>Toto je automaticky generovaná zpráva, neodpovídejte na ni.</p>
    <p>Pokud účet na našem webu nebyl vytvořen Vámi, tuto zprávu prosím ignorujte.</p>
</body>
</html>