<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Zapomenuté heslo</title>
</head>
<body>
    <p>Dobrý den,</p>

    <p>Na základě Vašeho požadavku Vám zasíláme odkaz na stránku pro nastavení nového hesla.</p>
    <p>Upozornění! Níže uvedená URL adresa je funkční pouze po dobu 1 dne od odeslání Vašeho požadavku.</p>
    <p><a href="{$url}"></a></p>
    
    <hr />
    <p>Toto je automaticky generovaná zpráva, neodpovídejte na ni.</p>
    <p>Pokud požadavek na změnu hesla nebyl odeslán Vámi, tuto zprávu prosím ignorujte.</p>
</body>
</html>