{block content}
<div class="well">

    <h1 n:block=title class="page-header">Zapomenuté heslo</h1>

    <p>Zadejte e-mailovou adresu, kterou jste uvedli při registraci účtu.
    Na tuto adresu vám bude zaslán odkaz pro nastavení nového hesla.</p>

    {control forgotPasswordForm}

</div>